@model BanSach.Models.NhaXuatBan

@{
    ViewBag.Title = "Xác nhận xóa Nhà Xuất Bản: " + Model.Tennxb; // Cập nhật tiêu đề
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Xác nhận xóa Nhà Xuất Bản</h2> <!-- Tiêu đề chính -->

<div class="container mt-4">
    <div class="table-responsive">
        <table class="table table-bordered" style="border: 2px solid black;">
            <!-- Bảng với viền đen -->
            <thead class="thead-light">
                <tr>
                    <th style="border: 2px solid black;">Thông tin</th>
                    <th style="border: 2px solid black;">Nội dung</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 2px solid black;">
                        @Html.DisplayNameFor(model => model.Tennxb)
                    </td>
                    <td style="border: 2px solid black;">
                        @Html.DisplayFor(model => model.Tennxb)
                    </td>
                </tr>
                <tr>
                    <td style="border: 2px solid black;">
                        @Html.DisplayNameFor(model => model.DiaChi)
                    </td>
                    <td style="border: 2px solid black;">
                        @Html.DisplayFor(model => model.DiaChi)
                    </td>
                </tr>
                <tr>
                    <td style="border: 2px solid black;">
                        @Html.DisplayNameFor(model => model.SoDienThoai)
                    </td>
                    <td style="border: 2px solid black;">
                        @Html.DisplayFor(model => model.SoDienThoai)
                    </td>
                </tr>
                <tr>
                    <td style="border: 2px solid black;">
                        @Html.DisplayNameFor(model => model.Email)
                    </td>
                    <td style="border: 2px solid black;">
                        @Html.DisplayFor(model => model.Email)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-actions mt-3 text-center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Xóa" class="btn btn-danger rounded" /> <!-- Nút xóa với màu đỏ -->
            @Html.ActionLink("Trở về danh sách", "Index", null, new { @class = "btn btn-secondary rounded ml-2" }) <!-- Nút trở về -->
        }
    </div>
</div>
