@model BanSach.Models.ThongKeDonHangViewModel

@{
    ViewBag.Title = "Thống kê đơn hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4 text-center font-weight-bold">Thống kê đơn hàng</h2>
            <div class="card">
                <div class="card-body border-0 ">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <h5 class="card-title">Tổng số đơn hàng:</h5>
                            <button class="btn btn-dark w-100 fw-bold text-white" disabled>@Model.TongSoDonHang</button>
                        </div>
                        <div class="col-md-4 mb-3">
                            <h5 class="card-title">Đơn hàng chờ xử lý:</h5>
                            <button class="btn btn-dark w-100 fw-bold text-white" disabled>@Model.DonHangChoXuLy</button>
                        </div>
                        <div class="col-md-4 mb-3">
                            <h5 class="card-title">Đơn hàng đã xác nhận:</h5>
                            <button class="btn btn-dark w-100 fw-bold text-white" disabled>@Model.DonHangDaXacNhan</button>
                        </div>
                        <div class="col-md-4 mb-3">
                            <h5 class="card-title">Đơn hàng đã nhận hàng:</h5>
                            <button class="btn btn-dark w-100 fw-bold text-white" disabled>@Model.DonHangDaNhanHang</button>
                        </div>
                        <div class="col-md-4 mb-3">
                            <h5 class="card-title">Đơn hàng đã huỷ:</h5>
                            <button class="btn btn-dark w-100 fw-bold text-white" disabled>@Model.DonHangDaHuy</button>
                        </div>
                        <div class="col-md-4 mb-3">
                            <h5 class="card-title">Tổng doanh thu:</h5>
                            <button class="btn btn-dark w-100 fw-bold text-white" disabled>@Model.TongDoanhThu.ToString("N0") VND</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Custom CSS -->
<style>
    .card {
        border-radius: 15px;
    }

    .card-title {
        font-weight: bold;
        font-size: 1.2em;
    }

    .btn {
        padding: 15px;
        font-size: 1.1em;
        border-radius: 10px;
    }
</style>

