@model BanSach.Models.Admin

@{
    ViewBag.Title = "Thêm nhân sự";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container mt-2">
        <h3 class="text-center mb-0  fw-semibold ">Thêm mới Admin</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="col-md-2 col-form-label">Name</label>
                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control rounded-sm", placeholder = "Nhập họ tên" } })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-form-label">Email</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control  rounded-sm", placeholder = "Nhập email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label class="col-md-2 col-form-label">Phone</label>
                    @Html.EditorFor(model => model.SoDT, new { htmlAttributes = new { @class = "form-control  rounded-sm", placeholder = "Nhập số điện thoại", maxlength = "11" } })
                    @Html.ValidationMessageFor(model => model.SoDT, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-form-label">Role</label>
                    @Html.DropDownListFor(model => model.VaiTro, new SelectList(new[]
                     {
                         new { Value = "Nhân viên", Text = "Nhân viên" },
                         new { Value = "Admin", Text = "Admin" }
                     }, "Value", "Text"), "Chọn vai trò", new { @class = "form-control  rounded-sm" })
                    @Html.ValidationMessageFor(model => model.VaiTro, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    <label class="col-md-2 col-form-label">User</label>
                    @Html.EditorFor(model => model.TKhoan, new { htmlAttributes = new { @class = "form-control  rounded-sm", placeholder = "Nhập tài khoản" } })
                    @Html.ValidationMessageFor(model => model.TKhoan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="col-md-2 col-form-label">Password</label>
                    @Html.EditorFor(model => model.MKhau, new { htmlAttributes = new { @class = "form-control  rounded-sm", placeholder = "Nhập số điện thoại", maxlength = "11" } })
                    @Html.ValidationMessageFor(model => model.MKhau, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row ">
                <div class="col-md-12 mt-3 ">
                    <input type="submit" value="Thêm" class="btn btn-success text-white rounded-sm" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
