@model BanSach.Models.Admin

@{
    ViewBag.Title = "Chi tiết nhân viên";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center mb-5 font-weight-bold ">Chi tiết tài khoản Admin</h2>

<div class="container">
    <div class="card shadow-sm justify-content-center border-0 rounded-lg ">
        <div class="card-body justify-content-center p-4 ">
            <dl class="row justify-content-start  ">
                <dt class="col-sm-4 font-weight-bold text-dark">
                    Họ và tên
                </dt>
                <dd class="col-sm-8 text-muted">
                    @Model.HoTen  <!-- Hiển thị đầy đủ họ tên -->
                </dd>

                <dt class="col-sm-4 font-weight-bold text-dark">
                    Email
                </dt>
                <dd class="col-sm-8 text-muted">
                    @Model.Email  <!-- Hiển thị đầy đủ email -->
                </dd>

               

                <dt class="col-sm-4 font-weight-bold text-dark">
                    Số điện thoại
                </dt>
                <dd class="col-sm-8 text-muted">
                    @Model.SoDT  <!-- Hiển thị đầy đủ số điện thoại -->
                </dd>

                <dt class="col-sm-4 font-weight-bold text-dark">
                    Vai trò
                </dt>
                <dd class="col-sm-8 text-muted">
                    @Html.DisplayFor(model => model.VaiTro)  <!-- Hiển thị đầy đủ vai trò -->
                </dd>

                <dt class="col-sm-4 font-weight-bold text-dark">
                    Tài khoản
                </dt>
                <dd class="col-sm-8 text-muted">
                    @Model.TKhoan  <!-- Hiển thị đầy đủ tài khoản -->
                </dd>

                <dt class="col-sm-4 font-weight-bold text-dark">
                    Mật khẩu
                </dt>
                <dd class="col-sm-8 text-muted">
                    @Model.MKhau  <!-- Hiển thị đầy đủ mật khẩu -->
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-4 text-center">
        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-success ml-3 shadow-sm rounded" })
    </div>
</div>
