@model List<BanSach.Models.Admin>

@{
    ViewBag.Title = "Quản lý nhân sự";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
<script src="~/Content/js/DataTables.js"></script>
<h4 class="fw-semibold mt-2 mb-2 text-center ">Quản lý nhân sự</h4>
<p>
    @Html.ActionLink("Thêm nhân sự", "Create", null, new { @class = "btn btn-dark " })
</p>

<table id="myTable" class="table-bordered table-responsive-sm" style="width:100%;">
    <thead class="table-dark">
        <tr class="text-bg-dark">
            <th>ID</th>
            <th>Họ tên</th>
            <th>Email</th>
            <th>Địa Chỉ</th>
            <th>Hotline</th>
            <th>Vai trò</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody class="fs-6">
        @foreach (var item in Model)
        {
            var role = item.VaiTro?.Trim();
            var badgeClass = string.Equals(role, "admin", StringComparison.OrdinalIgnoreCase) ? "bg-success" : "bg-danger";

            <tr>
                <td>@item.ID</td>
                <td>@Html.DisplayFor(modelItem => item.HoTen)</td>
                <td>@item.Email</td>
                <td>@item.DiaChi</td>
                <td>@item.SoDT</td>
                <td class="text-center">
                    @if (!string.IsNullOrEmpty(role))
                    {
                        <span class="badge @badgeClass text-white">@role</span>
                    }
                </td>
                <td>
                    @if (!string.Equals(role, "Admin", StringComparison.OrdinalIgnoreCase))
                    {
                        <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-warning btn-sm mx-1">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-danger btn-sm mx-1">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    }
                    <a href="@Url.Action("Details", new { id = item.ID })" class="btn btn-info btn-sm mx-1">
                        <i class="fas fa-eye"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Scripts.Render("~/bundles/datatables")




