@model IEnumerable<BanSach.Models.Admin>

@{
    ViewBag.Title = "Quản lý nhân sự";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    .tieude {
        text-align: center;
        font-weight: bold;
        color: black;
    }

    .them a {
        border-radius: 10px;
        background-color: #212121;
        color: white;
        font-size: large;
        padding: 5px;
        margin: 50px 10px 0 10px;
    }

        .them a:hover {
            text-decoration: none;
            color: white;
            background-color: green;
        }

    .table {
        width:100%;
       
    }   
</style>

<h2 class="tieude">Quản lí Admin</h2>

<p class="them">
    @Html.ActionLink("Thêm ", "Create")

</p>

<table class="table table-condensed ">
    <tr style=" color: black; text-align: left;">
        <th style="border-top-left-radius: 25px">    ID  </th>
        <th>   Họ tên   </th>
        <th>   Email    </th>
        <th>   Địa chỉ  </th>
        <th> Số điện thoại    </th>
        <th> Vai trò  </th>
        <th>    Tài khoản     </th>
        <th>       Mật khẩu   </th>
        <th>Chinh sửa</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>    @Html.DisplayFor(modelItem => item.ID)   </td>
            <td>    @Html.DisplayFor(modelItem => item.HoTen)   </td>
            <td>   @Html.DisplayFor(modelItem => item.Email) </td>
            <td>  @Html.DisplayFor(modelItem => item.DiaChi)   </td>
            <td>    @Html.DisplayFor(modelItem => item.SoDT)  </td>
            <td> @Html.DisplayFor(modelItem => item.VaiTro)  </td>
            <td>  @Html.DisplayFor(modelItem => item.TKhoan) </td>
            <td>    @Html.DisplayFor(modelItem => item.MKhau) </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }, new { @class = "delete-link" })|
                @Html.ActionLink("Xoá", "Delete", new { id = item.ID }, new { @class = "delete-link" })
            </td>
        </tr>
    }
</table>
<style>
    .delete-link {
        color: red; /* Sửa màu trong đây nhaa*/
    }

        .delete-link:hover {
            color: darkred; /* Sửa màu trong đây nhaa*/
        }
</style>

















