@model BanSach.Models.TacGia

@{
    ViewBag.Title = "Chi tiết Tác Giả " + Model.TenTG; // Cập nhật tiêu đề
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center font-weight-bold">Chi tiết Tác Giả</h2>

<div class="container">
    <h4 class="font-weight-bold">Tác Giả: @Html.DisplayFor(model => model.TenTG)</h4>
    <hr />

    <table class="table" style="border: 2px solid black;">
        <!-- Thay đổi viền bảng -->
        <tbody>
            <tr style="border: 1px solid black;">
                <th scope="row" style="border: 1px solid black;">Ngày sinh</th>
                <td style="border: 1px solid black;">@Html.DisplayFor(model => model.NgaySinh)</td>
            </tr>
            <tr style="border: 1px solid black;">
                <th scope="row" style="border: 1px solid black;">Quốc gia</th>
                <td style="border: 1px solid black;">@Html.DisplayFor(model => model.QuocGia)</td>
            </tr>
            <tr style="border: 1px solid black;">
                <th scope="row" style="border: 1px solid black;">Tiểu sử</th>
                <td style="border: 1px solid black;">@Html.DisplayFor(model => model.TieuSu)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <p>
        @Html.ActionLink("Chỉnh sửa thông tin", "Edit", new { id = Model.IDtg }, new { @class = "btn btn-warning" }) <!-- Nút chỉnh sửa -->
        @Html.ActionLink("Trở về danh sách", "Index", null, new { @class = "btn btn-secondary" }) <!-- Nút trở về -->
    </p>
</div>