@model IEnumerable<BanSach.Models.TacGia>

@{
    ViewBag.Title = "Tác giả nè";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Danh mục tác giả</h2>

<p>
    @Html.ActionLink("Thêm", "Create", null, new { @class = "btn btn-dark rounded-sm" })
</p>

<table class="table table-hover rounded-sm">
    <thead class="rounded-sm text-white"style="background-color:black;">
        <tr>
            <th >
                ID 
            </th>
            <th>
                Tên TG
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Quốc gia
            </th>
            <th>
                Tiểu sử
            </th>
            <th class="text-center">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="font-weight-bold">
                    @Html.DisplayFor(modelItem => item.IDtg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTacGia)
                </td>
                <td>
                    @String.Format("{0:dd-MM-yyyy}", item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuocGia)
                </td>
                <td>
                    @{
                        var text = item.TieuSu;
                        var displayText = text.Length > 30 ? text.Substring(0, 30) + "..." : text;
                    }
                    @Html.Raw(displayText)
                </td>
                <td class="text-center">
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IDtg }, new { @class = "btn btn-warning btn-sm rounded" })
                    @Html.ActionLink("ChiTiết", "Details", new { id = item.IDtg }, new { @class = "btn btn-info btn-sm rounded" })
                    @Html.ActionLink("Xoá", "Delete", new { id = item.IDtg }, new { @class = "btn btn-danger btn-sm rounded" })
                </td>
            </tr>
        }
    </tbody>
</table>