@model IEnumerable<BanSach.Models.TacGia>

@{
    ViewBag.Title = "Tác giả nè";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Danh mục tác giả</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary rounded" })
</p>

<table class="table table-responsive-sm rounded">
    <thead class="thead-dark rounded-sm">
        <tr>
            <th>
                ID TG
            </th>
            <th>
                Tên TG
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Quốc gia
            </th>
            <th>
                Tiểu sử
            </th>
            <th class="text-center">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDtg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTacGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuocGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TieuSu)
                </td>
                <td class="text-center">
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IDtg }, new { @class = "btn btn-warning btn-sm rounded" })
                    @Html.ActionLink("ChiTiết", "Details", new { id = item.IDtg }, new { @class = "btn btn-info btn-sm rounded" })
                    @Html.ActionLink("Xoá", "Delete", new { id = item.IDtg }, new { @class = "btn btn-danger btn-sm rounded" })
                </td>
            </tr>
        }
    </tbody>
</table>