@model BanSach.Models.Slide

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="text-center fw-semibold mt-2">Thêm banner</h3>

@using (Html.BeginForm("Create", "Slide", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group mt-2">
            @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <input type="file" name="HinhAnh" id="HinhAnh" class="form-control" onchange="previewImage(event)" />
                <img id="imagePreview" src="#" alt="Preview" style="display:none; width: 100px;" />
                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <textarea name="MoTa" class="form-control" placeholder="Nhập từ 10 đến 200 chữ" maxlength="200" minlength="10" rows="3"></textarea>
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <input type="text" name="Link" placeholder="Đường link website" class="form-control" />
                @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            @Html.LabelFor(model => model.ThuTu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <input type="number" min="1" max="4" step="1" placeholder="Từ 1 đến 4" name="ThuTu" class="form-control" />
                @Html.ValidationMessageFor(model => model.ThuTu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            <div class="col-12 mt-2">
                <input type="submit" value="Thêm" class="btn btn-outline-dark" />
                <a href="~/Slide/Index" class="btn btn-success">Quay về</a>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function previewImage(event) {
        const input = event.target;
        const reader = new FileReader();
        reader.onload = function () {
            const preview = document.getElementById('imagePreview');
            preview.src = reader.result;
            preview.style.display = 'block';
        };
        if (input.files && input.files[0]) {
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>



