@model BanSach.Models.Slide

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="text-center fw-semibold">Cập nhật banner - @Model.Slide_ID</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal mt-2">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Slide_ID)

        <div class="form-group mt-2">
            @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 col-sm-12 d-flex">
                <input type="file" name="HinhAnh" class="form-control" id="fileInput" value="@Model.HinhAnh" onchange="previewImage(event)" />
                <img id="imagePreview" src="" alt="Image Preview" class="mb-0 " style="display: none; width: 100px; height: 100px; margin-left:10px;" />
                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12 col-sm-12">
                <textarea name="MoTa" class="form-control" rows="3">@Model.MoTa</textarea>
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12 col-sm-12">
                <input type="text" name="Link" class="form-control" value="@Model.Link" />
                @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            @Html.LabelFor(model => model.ThuTu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12 col-sm-12">
                <input type="number" min="1" max="4" step="1" value="@Model.ThuTu" name="ThuTu" class="form-control" />
                @Html.ValidationMessageFor(model => model.ThuTu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            <div class="col-12 gap-2 mt-2">
                <input type="submit" value="Lưu" class="btn btn-success" />
                <a href="~/Slide/Index" class="btn btn-outline-success">Quay về</a>
            </div>
        </div>
    </div>
}


<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('imagePreview');
            output.src = reader.result;
            output.style.display = 'block';
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
