@model IEnumerable<BanSach.Models.Slide>

@{
    ViewBag.Title = "Danh sách Slide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="text-center fw-semibold mt-2">Danh sách Slide</h3>

<p class="btn btn-danger">
    <a href="~/slide/create" class="text-decoration-none text-white">Thêm</a>
</p>
<table class="table table-bordered table-responsive-sm">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThuTu)
        </th>
        <th>#</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/assets/images/slide/@item.HinhAnh" alt="Ảnh không hiện thị" class="img-fluid" style="width: 140px; border-radius:10px;" />
            </td>
            <td class="lh-base w-25">
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuTu)
            </td>
            <td>

                <div id="banner-@item.Slide_ID" class="btn-group-sm ">
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Slide_ID }, new { @class = "btn btn-dark text-white" })
                    <button class="btn btn-outline-danger delete-banner" data-id="@item.Slide_ID">Xoá</button>
                </div>
            </td>
        </tr>
    }

</table>
<!-- Thêm SweetAlert2 từ CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        // Bắt sự kiện click vào nút xóa
        $(".delete-banner").click(function () {
            var bannerId = $(this).data('id');  // Lấy ID của banner từ data-id

            // Gửi yêu cầu AJAX để xoá
            $.ajax({
                url: '/Slide/Delete',  // Địa chỉ action Delete
                type: 'POST',  // Phương thức POST
                data: { id: bannerId },  // Dữ liệu gửi đi (ID của banner)
                success: function (response) {
                    if (response.success) {
                        $('#banner-' + bannerId).remove();  // Xoá phần tử HTML của banner
                        // Thông báo thành công bằng SweetAlert2
                        Swal.fire({
                            icon: 'success',
                            title: 'Xoá thành công',
                            text: 'Slide đã được xóa thành công - F5 hiển thị danh sách',
                            showConfirmButton: false,
                            timer: 2000  // Hiển thị thông báo trong 1.5 giây
                        });
                    } else {
                        // Thông báo lỗi
                        Swal.fire({
                            icon: 'error',
                            title: 'Gặp lỗi khi xóa Slide',
                            text: 'Không thể xóa slide này. Vui lòng thử lại.',
                            showConfirmButton: true
                        });
                    }
                },
                error: function () {
                    // Thông báo khi có lỗi trong quá trình AJAX
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Đã xảy ra lỗi khi xóa.',
                        showConfirmButton: true
                    });
                }
            });
        });
    });


</script>
