@model IEnumerable<BanSach.Models.RecentOrderViewModel>

<div class="container bg-white rounded-2  mt-3 ">

    <h5 class="text-center text-dark fs-4 fw-semibold py-2">Bán gần đây nhất</h5>

    <div class="row p-1 justify-content-start row-cols-lg-5">
        @foreach (var i in Model.Take(15))
        {
        <div class="col-lg-3 col-sm-6 col-6 col-sm-6  p-1 ">
            <div class="card product-item h-100 p-1 user-select-none">
                <a href="@Url.Action("TrangSP", "SanPhams", new { id = i.Id })" class="text-decoration-none">
                    <div class="card-body  p-2">
                        <!-- Ảnh sản phẩm với kích thước cố định -->
                        <img src="~/assets/images/products/@i.HinhAnh" alt="Ảnh sản phẩm @i.TenSanPham" class="img-fluid" style="object-fit:contain; height:190px; width:100%;">
                        <!-- Tên sản phẩm -->
                        <p class="text-truncate text-dark w-100 text-left mt-2" title="@i.TenSanPham">@i.TenSanPham</p>
                        <!-- Giá sản phẩm -->
                        <p class="mb-2 text-danger fw-semibold">@i.Gia.ToString("#,#") VND</p>
                        <!-- Ngày đặt hàng -->
                        <p class="mb-0 text-bg-danger placeholder-wave rounded-1 text-center " title="@i.NgayDatHang.ToString("dd/MM/yyyy HH:mm:ss")" style="font-size:15px;">
                            @i.NgayDatHang.ToString("dd/MM/yyyy HH:mm:ss")
                        </p>
                    </div>
                </a>
            </div>
        </div>
        }
    </div>

    <div class="text-center">
        <a href="@Url.Action("ProductList", "SanPhams")" class="text-decoration-none btn btn-outline-danger mb-2 ">Xem thêm</a>
    </div>
</div>


<style>
    .card-body {
        padding: 10px;
    }

        .card-body p {
            margin-top: 5px;
            font-size: 16px;
        }
</style>