@model IEnumerable<BanSach.Models.ViewModel>
@Styles.Render("~/Content/css/TopBanChay")
<link href="~/Content/css/TopBanChay.css" rel="stylesheet" />
<div class="container-fluid mt-4">
    <h3 class="text-center text-white fw-semibold pt-2">
        Top bán chạy
    </h3>
    <div class="row justify-content-start">
        @foreach (var item in Model)
        {
            <div class="col-lg-2 col-md-4 col-sm-6 p-1">
                <div class="card p-2 w-100 h-100">
                    <a href="@Url.Action("TrangSP", "SanPhams", new { id = item.IdPro })" class="d-flex justify-content-center">
                        <img src="~/assets/images/products/@item.ImgPro" alt="@item.NamePro" class="img-fluid" style="object-fit:contain; height:190px;" />
                    </a>

                    <div class="card-body p-2">
                        <p class="mb-2 text-truncate">@item.NamePro</p>
                        <p class="mb-2 text-danger fw-semibold">@item.price.ToString("N0") VND</p>
                        <p class="mb-0 text-bg-dark placeholder-wave rounded-1 text-center">Đã bán: @item.Sum_Quantity</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="text-center">
        <a href="@Url.Action("ProductList", "SanPhams")" class="text-decoration-none btn btn-outline-danger py-2 px-2 mt-2">Xem thêm </a>
    </div>
</div>


