@model BanSach.Models.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-black text-center font-weight-bold mb-4">Thêm sản phẩm</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal bg-light p-4 rounded shadow-sm border border-dark" style="border-radius: 10px;">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            @Html.LabelFor(model => model.TenSP, "Tên sản phẩm", htmlAttributes: new { @class = "control-label text-dark col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control border border-dark", style = "border-radius: 10px;", placeholder = "Nhập tên sản phẩm" } })
                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.MoTa, "Mô tả sách", htmlAttributes: new { @class = "control-label col-md-2 text-dark font-weight-bold" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MoTa, new { @class = "form-control border border-dark", rows = 5, style = "border-radius: 10px;", placeholder = "Nhập mô tả cho sản phẩm" })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.TheLoai, "Thể loại sách", htmlAttributes: new { @class = "control-label col-md-2 text-dark font-weight-bold" })
            <div class="col-md-10">
                @Html.DropDownList("TheLoai", null, htmlAttributes: new { @class = "form-control border border-dark", style = "border-radius: 10px;", @placeholder = "Chọn thể loại sách" })
                @Html.ValidationMessageFor(model => model.TheLoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 font-weight-bold text-dark">Giá</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GiaBan, new List<SelectListItem>
                {
                    new SelectListItem { Value = "", Text = "Chọn giá" },
                    new SelectListItem { Value = "1000", Text = "1.000 VND" },
                    new SelectListItem { Value = "5000", Text = "5.000 VND" },
                    new SelectListItem { Value = "10000", Text = "10.000 VND" },
                    new SelectListItem { Value = "20000", Text = "20.000 VND" },
                    new SelectListItem { Value = "50000", Text = "50.000 VND" },
                    new SelectListItem { Value = "100000", Text = "100.000 VND" },
                    new SelectListItem { Value = "200000", Text = "200.000 VND" },
                    new SelectListItem { Value = "500000", Text = "500.000 VND" },
                    new SelectListItem { Value = "1000000", Text = "1.000.000 VND" },
                    new SelectListItem { Value = "Tùy chỉnh", Text = "Tùy chỉnh" }
                }, new { @class = "form-control border border-dark", @id = "GiaBanDropdown", style = "border-radius: 10px;", @placeholder = "Chọn giá" })

                <div id="GiaTuTuyChinhDiv" style="margin-top: 10px; display: none;">
                    @Html.TextBox("GiaTuTuyChinh", null, new { @class = "form-control border border-dark", placeholder = "Nhập giá tùy chỉnh", type = "text", @id = "GiaTuTuyChinh", style = "border-radius: 10px;" })
                    @Html.ValidationMessageFor(model => model.GiaTuTuyChinh, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="control-label text-dark col-md-2 font-weight-bold">Hình</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.HinhAnh, null, new { type = "file", @class = "form-control text-dark border border-dark", @id = "fileInput", style = "border-radius: 10px;", @placeholder = "Chọn hình ảnh cho sản phẩm" })
                <br />
                <img id="previewImage" src="#" alt="Hình xem trước" style="display: none; max-width: 200px; max-height: 200px;" class="img-thumbnail" />
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.IDtg, "Tác giả", htmlAttributes: new { @class = "control-label text-dark col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IDtg, (SelectList)ViewBag.TacGia, "Chọn tác giả", new { @class = "form-control text-dark border border-dark", style = "border-radius: 10px;", @placeholder = "Chọn tác giả" })
                @Html.ValidationMessageFor(model => model.IDtg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.IDnxb, "Nhà xuất bản", htmlAttributes: new { @class = "control-label text-dark col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.DropDownList("IDnxb", (SelectList)ViewBag.NXB, "Chọn nhà xuất bản", new { @class = "form-control border border-dark", style = "border-radius: 10px;", @placeholder = "Chọn nhà xuất bản" })
                @Html.ValidationMessageFor(model => model.IDnxb, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.IDkm, "Khuyến mãi", htmlAttributes: new { @class = "control-label text-dark col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.DropDownList("IDkm", (SelectList)ViewBag.KM, "Chọn mức giảm giá", new { @class = "form-control border border-dark", style = "border-radius: 10px;", @placeholder = "Chọn mức giảm giá" })
                @Html.ValidationMessageFor(model => model.IDkm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.SoLuong, "Số lượng sản phẩm", htmlAttributes: new { @class = "control-label text-dark col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuong, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control border border-dark",
                        style = "border-radius: 10px;",
                        placeholder = "Nhập số lượng sản phẩm",
                        min = "0",
                        max = "1000"
                    }
                })
                @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row">
            <div class="control-label text-dark col-md-2 font-weight-bold">Trạng thái sách</div>
            <div class="col-md-10">
                @Html.HiddenFor(model => model.TrangThaiSach, new { @Value = "Còn hàng" })
                <p class="form-control-plaintext text-success">Còn hàng</p>
            </div>
        </div>

        <div class="form-group row mt-4">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-success rounded-sm" />
                @Html.ActionLink("Quay về", "Index", null, new { @class = "btn btn-secondary ml-2 rounded-sm" })
            </div>
        </div>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Hiển thị ô nhập giá tùy chỉnh
        $('#GiaBanDropdown').change(function () {
            if ($(this).val() === "Tùy chỉnh") {
                $('#GiaTuTuyChinhDiv').show();
                $('#GiaTuTuyChinh').focus();
            } else {
                $('#GiaTuTuyChinhDiv').hide();
                $('#GiaTuTuyChinh').val('');
            }
        });

        // Định dạng số với dấu phẩy
        function formatNumberWithCommas(x) {
            return x.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        // Xử lý nhập liệu
        $('#GiaTuTuyChinh').on('input', function () {
            let inputVal = this.value.replace(/,/g, ''); // Xóa dấu phẩy
            this.value = formatNumberWithCommas(inputVal); // Định dạng lại với dấu phẩy
        });

        // Khi submit form
        $('form').submit(function (e) {
            let giaInput = $('#GiaTuTuyChinh').val();
            // Loại bỏ dấu phẩy để gửi giá trị
            $('#GiaTuTuyChinh').val(giaInput.replace(/,/g, ''));
        });

        // Xem trước hình ảnh
        document.getElementById('fileInput').addEventListener('change', function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var img = document.getElementById('previewImage');
                img.src = reader.result;
                img.style.display = 'block';
            }
            reader.readAsDataURL(event.target.files[0]);
        });
    });
    
</script>