@model BanSach.Models.SanPham

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4" >
    <h3 class="text-center">Chi tiết thông tin sách</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-3"><b>Tên sách:</b></dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.TenSP)</dd>

        <dt class="col-sm-3"><b>Mô tả:</b></dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.MoTa)</dd>

        <dt class="col-sm-3"><b>Giá bán:</b></dt>
        <dd class="col-sm-9">@string.Format("{0:N0} VND", Model.GiaBan)</dd>

        <dt class="col-sm-3"><b>Hình ảnh:</b></dt>
        <dd class="col-sm-9">
            <img src="~/Content/img/@Model.HinhAnh" class="img-fluid rounded-sm" width="200"  alt="Hình ảnh sách">
        </dd>

        <dt class="col-sm-3"><b>Tác giả:</b></dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.TacGia.TenTacGia)</dd>

        <dt class="col-sm-3"><b>Nhà xuất bản:</b></dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.NhaXuatBan.Tennxb)</dd>

        <dt class="col-sm-3"><b>Năm xuất bản:</b></dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.NamXB)</dd>

        <dt class="col-sm-3"><b>Danh mục:</b></dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.DanhMuc.DanhMuc1)</dd>

        <dt class="col-sm-3"><b>Thể loại:</b></dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.DanhMuc.TheLoai)</dd>
    </dl>

    <div class="text-center mt-4 ">
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDsp }, new { @class = "btn btn-primary me-2 rounded-sm" }) |
        @Html.ActionLink("Quay về danh sách", "Index", null, new { @class = "btn btn-secondary me-2 rounded-sm" }) |
        @Html.ActionLink("Xoá", "Delete", new { id = Model.IDsp }, new { @class = "btn btn-danger rounded-sm" })
    </div>
</div>
