@model BanSach.Models.DanhMuc

@{
    ViewBag.Title = "Xoá danh mục";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .table-bordered {
        border: 2px solid black; /* Viền đen cho bảng */
    }

        .table-bordered th,
        .table-bordered td {
            border: 1px solid black; /* Viền đen cho các ô trong bảng */
        }
</style>

<div class="container mt-4">
    <h2 class="text-danger text-center">Xoá danh mục</h2>

    <hr />
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Thông tin</th>
                <th>Nội dung</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>ID</b></td>
                <td>@Html.DisplayFor(model => model.ID)</td>
            </tr>
            <tr>
                <td><b>Danh mục</b></td>
                <td>@Html.DisplayFor(model => model.DanhMuc1)</td>
            </tr>
            <tr>
                <td><b>Thể loại</b></td>
                <td>@Html.DisplayFor(model => model.TheLoai)</td>
            </tr>
        </tbody>
    </table>

    <p class="text-danger">Bạn có chắc chắn muốn xóa danh mục này không?</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            @Html.ActionLink("Quay về quản lý danh mục", "Index", null, new { @class = "btn btn-secondary me-2" })
            <input type="submit" value="Xoá" class="btn btn-danger" />
        </div>

    }
</div>
