@model BanSach.Models.DanhMuc

@{
    ViewBag.Title = "Chi tiết danh mục";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center ">Chi tiết</h2>
    <hr />

    <dl class="row">
        <dt class="col-sm-3"><p>Danh mục</p></dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.DanhMuc1)</dd>

        <dt class="col-sm-3"><p>Thể loại</p></dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.TheLoai)</dd>
    </dl>

    <div class="text-center mt-4">
        @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning me-2 rounded-sm " }) |
        @Html.ActionLink("Quay về quản lý danh mục", "Index", null, new { @class = "btn btn-secondary me-2 rounded-sm " }) |
        @Html.ActionLink("Xoá", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger  rounded-sm" })
    </div>
</div>
