@model IEnumerable<BanSach.Models.DanhMuc>

@{
    ViewBag.Title = "Quản lý danh mục";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center font-weight-bold text-dark">Danh mục sách</h2>

<div class=" mb-4">
    @Html.ActionLink("Thêm ", "Create", null, new { @class = "btn btn-dark  rounded-sm" })
</div>

<table class="table table-striped table-hover" >
    <thead class="table-bordered text-white"style="background-color:black;" >
        <tr>
            <th>Danh mục</th>
            <th>Thể loại</th>
            <th >Chỉnh sửa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="font-weight-bold">
                    @Html.DisplayFor(modelItem => item.DanhMuc1)
                </td>
                <td class="font-weight-bold">
                    @Html.DisplayFor(modelItem => item.TheLoai)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.ID }, new { @class = "btn btn-warning btn-sm me-1 rounded-sm" }) 
                    @Html.ActionLink("Xem", "Details", new { id = item.ID }, new { @class = "btn btn-info btn-sm me-1 rounded-sm" }) 
                    @Html.ActionLink("Xoá", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-sm delete-link rounded-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>


