@model IEnumerable<BanSach.Models.SanPham>

@{
    ViewBag.Title = "Kho sách";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .tieude {
        text-align: center;
        font-weight: bold;
    }

    .them a {
        border-radius: 10px;
        background-color: #212121;
        color: white;
        font-size: large;
        padding: 5px;
        margin: 50px 10px 0 10px;
    }

        .them a:hover {
            text-decoration: none;
            color: white;
            background-color:#027171;
        }
        .table-striped{
        width:100%;
        }
</style>

<h2 class="tieude">Thông tin sách</h2>

<p class="them">
    @Html.ActionLink("Thêm sách", "Create")
</p>

<table class="table table-condensed">
    <tr style=" color: black; text-align: left;">
        <th style="border-top-left-radius: 25px;width:20%"> Tên Sách </th>       
        <th>Thể loại</th>
        <th> Giá</th>
        <th> Số lượng</th>
        <th>Hình</th>
        <th style="width:15%;">Tác giả</th>
        <th>Nhà xuất bản</th>
        <th>Chỉnh sửa</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="color: #212121">
            <td > @Html.DisplayFor(modelItem => item.TenSP)</td>
            <td> @Html.DisplayFor(modelItem => item.DanhMuc.TheLoai)</td>
            <td>
                @String.Format("{0:C0}", item.GiaBan)
            </td>
            <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
            <td><img src="~/Content/img/@item.HinhAnh" width="60" /></td>
            <td> @Html.DisplayFor(modelItem => item.TacGia)</td>
            <td> @Html.DisplayFor(modelItem => item.NhaXB) </td>
            <td style="color:red;">
                @Html.ActionLink("Sửa", "Edit", new { id = item.IDsp }, new { @class = "delete-link" }) |
                @Html.ActionLink("Xem", "Details", new { id = item.IDsp }, new { @class = "delete-link" }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.IDsp }, new { @class = "delete-link" })
            </td>
        </tr>
    }
</table>
<style>
    .delete-link {
        color: red; /* Sửa màu trong đây nhaa*/
    }
        .delete-link:hover {
            color: darkred; /* Sửa màu trong đây nhaa*/
            
        }

</style>
