@{
    ViewBag.Title = "Thống Kê Sản Phẩm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4">Thống Kê Sản Phẩm</h2>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <h6 class="card-title">Tổng số sách hết hàng:</h6>
                            <button class="btn btn-dark fw-bold text-white  w-100" disabled>@ViewBag.TongSachHetHang</button> <!-- Button màu đỏ cho hết hàng -->
                        </div>
                        <div class="col-md-4 mb-3">
                            <h6 class="card-title">Tổng số sách còn hàng:</h6>
                            <button class="btn btn-dark fw-bold text-white  w-100" disabled>@ViewBag.TongSachConHang</button> <!-- Button màu xanh lá cho còn hàng -->
                        </div>
                        <div class="col-md-4 mb-3">
                            <h6 class="card-title">Tổng số lượng sách:</h6>
                            <button class="btn btn-dark fw-bold text-white  w-100" disabled>@ViewBag.TongSoLuongSach</button> <!-- Button màu xanh dương cho số liệu trung lập -->
                        </div>
                        <div class="col-md-4 mb-3">
                            <h6 class="card-title">Tổng số đầu sách:</h6>
                            <button class="btn btn-dark fw-bold text-white  w-100" disabled>@ViewBag.TongDauSach</button> <!-- Button màu xanh dương cho thông tin trung lập -->
                        </div>
                        <div class="col-md-4 mb-3">
                            <h6 class="card-title">Tổng giá trị tồn kho:</h6>
                            <button class="btn btn-dark fw-bold text-white  w-100" disabled>@ViewBag.TongGiaTriTonKho</button> <!-- Button màu xanh nhạt cho giá trị tiền -->
                        </div>
                        <div class="col-md-4 mb-3">
                            <h6 class="card-title">Tổng số sản phẩm có khuyến mãi:</h6>
                            <button class="btn btn-dark fw-bold text-white  w-100" disabled>@ViewBag.TongSanPhamKhuyenMai</button> <!-- Button màu xanh lá cho sản phẩm có khuyến mãi -->
                        </div>
                        <div class="col-md-12 mb-3">
                            <h6 class="card-title">Tổng số sản phẩm không có khuyến mãi:</h6>
                            <button class="btn btn-dark fw-bold text-white  w-100" disabled>@ViewBag.TongSanPhamKhongKhuyenMai</button> <!-- Button màu vàng cho không có khuyến mãi -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2 mb-2 ">
                @Html.ActionLink("Quay về", "Index", null, new { @class = "btn btn-success " })
            </div>
        </div>
    </div>
</div>
