@model IEnumerable<BanSach.Models.DonHangCT>

@{
    ViewBag.Title = "Quản lý chi tiết đơn hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .tieude {
        text-align: center;
        font-weight: bold;
        color: black;
    }

    .them a {
        border-radius: 10px;
        background-color: darkcyan;
        color: white;
        font-size: large;
        padding: 5px;
        margin: 50px 10px 0 10px;
    }

        .them a:hover {
            text-decoration: none;
            color: white;
            background-color: #027171;
        }

    .table-striped {
        width: 100%;
    }
</style>

<h2 class="tieude">Chi tiết các đơn hàng </h2>

<table class="table table-striped embed-responsive-16by9">
    <tr style="color: black; text-align: match-parent;">
        <th class="text-center">  Mã CTĐH  </th> 
        <th class="text-center">  Mã sách </th>
        <th> Tên sách </th>
        <th> Số lượng  </th>
        <th> Đơn giá  </th>
        <th>Thành tiền</th>
        <th>Thao tác</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="font-weight-bold text-center">  @Html.DisplayFor(modelItem => item.IDdh) </td>
            <td class="font-weight-bold text-center">  @Html.DisplayFor(modelItem => item.SanPham.IDsp) </td>
            <td>  @Html.DisplayFor(modelItem => item.SanPham.TenSP) </td>
            <td>  @Html.DisplayFor(modelItem => item.SoLuong) </td>
            <td>@string.Format("{0:N0} VND", item.Gia)</td>
            <td>
                Chưa có
            </td>
            <td>
                @Html.ActionLink("Xem", "Details", new { id = item.IDdh }, new { @class = "btn btn-warning btn-sm rounded-sm" })
                @Html.ActionLink("Xoá", "Delete", new { id = item.IDdh }, new { @class = "btn btn-danger btn-sm rounded-sm" })
            </td>
        </tr>
    }
</table> 
<style>
    .delete-link {
        color: red; /* Sửa màu trong đây nhaa*/
    }

        .delete-link:hover {
            color: darkred; /* Sửa màu trong đây nhaa*/
        }
</style>