@model BanSach.Models.TheLoai

@{
    ViewBag.Title = "Cập nhật thể loại";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm border-0 rounded-lg">
                <div class="card-header text-center text-white">
                    <h3 class="mb-2 fw-semibold text-dark ">Cập nhật thể loại</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)
                        <div class="form-group row mb-4">
                            @Html.LabelFor(model => model.TenTheLoai, "Tên danh mục", htmlAttributes: new { @class = "col-md-3 col-form-label font-weight-bold" })
                            <div class="col-md-9">

                                <input type="text" class="form-control" id="TenDanhMuc" name="TenDanhMuc" value="@Model.TenTheLoai" />
                                @Html.ValidationMessageFor(model => model.TenTheLoai, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success  px-5">
                                Lưu
                            </button>
                            @Html.ActionLink("Quay về ", "Index", null, new { @class = "btn btn-secondary" })

                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
