@model BanSach.Models.Cart

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .showcart {
        text-align: center;
        padding: 5px;
        border-radius: 15px;
        margin: 40px;
    }

        .showcart h5 {
            padding: 20px 0 0 10px;
        }

    #carQuantity {
        width: 50px;
        padding-left: 10px;
        border-radius: 10px;
    }

    .thanhtien {
        bottom: 0;
        border: solid 1px double;
        border-radius: 15px;
        padding: 15px;
        -moz-box-shadow: 0 4px 8px 0 grey;
        -webkit-box-shadow: 0 4px 8px 0 grey;
    }

    .nutthanhtoan {
        border-radius: 15px;
        color: white;
        background-color: crimson;
        border: none;
        padding: 5px;
        float: right;
    }

    .tb tr td {
        padding-top: 20px;
        color: white;
    }

    .xoa {
        color: white;
        border-radius: 5px;
    }

        .xoa:hover {
            color: black;
            text-decoration: none;
        }

    .thongtinkh input {
        border-radius: 15px;
        padding-left: 15px;
        height: 50px;
        outline: none;
    }

    .btn, .capnhat {
        border-radius: 10px;
    }

    .showcart a {
        background-color: crimson;
        border-radius: 15px;
        padding: 10px;
        color: white;
    }

        .showcart a:hover {
            text-decoration: none;
        }
    .full-width {
        width: 100%;
    }

    .text-center {
        text-align: center;
    }

</style>

<div class="text-center ">
    <h3 class="m-0 display-5 font-weight-semi-bold text-white">GIỎ HÀNG</h3>
</div>

@if (Model == null || Model.Total_quantity() == 0)
{
    <div class="showcart">
        <h5 class="text-white">
            Chưa có sản phẩm trong giỏ hàng của bạn.
        </h5><br />
        @Html.ActionLink("Tiếp tục mua hàng", "ProductList", "SanPhams")
    </div>
}
else
{
    <table class="table-bordered table-hover w-100" style="border-radius: 15px;">
        <thead>
            <tr class="text-center font-weight-semi-bold display-5 text-white">
                <th>Thông tin</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th>Lựa chọn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                // Sử dụng toán tử ?? để gán giá trị mặc định là 0 nếu GiaBan là null
                decimal giaBan = item._product.GiaBan;
                decimal mucGiamGia = item.MucGiamGia; // Lấy mức giảm giá từ CartItem
                decimal giaSauKhuyenMai = giaBan * (1 - mucGiamGia / 100);
                decimal total = item._quantity * giaSauKhuyenMai;

                <tr class="text-center text-white">
                    <td width="40%">
                        <img src="~/Content/img/@item._product.HinhAnh" alt="@item._product.TenSP" width="140" height="160" style="float:left; border-radius: 15px;" />
                        <p style="padding-top:40px;">
                            @Html.DisplayFor(model => item._product.TenSP)
                        </p>
                        <p>
                            <b style="color:red">@giaSauKhuyenMai.ToString("#,##0").Replace(',', '.') VND</b>
                        </p>
                        @if (mucGiamGia > 0)
                        {
                            <p>
                                <del style="color:grey">@giaBan.ToString("#,##0").Replace(',', '.') VND</del> <!-- Giá gốc -->
                                <span style="color:green;">(@mucGiamGia% Off)</span> <!-- Mức khuyến mãi -->
                            </p>
                        }
                    </td>
                    <td class="text-center">
                        @using (Html.BeginForm("Update_Cart_Quantity", "ShoppingCart"))
                        {
                            <input type="hidden" value="@item._product.IDsp" name="idPro" />
                            <input type="number" min="1" max="@item._product.SoLuong" value="@item._quantity" name="carQuantity" style="width: 50px; text-align: center; border-radius:10px;" />
                            <button type="submit" class="capnhat">Cập nhật</button>
                        }
                    </td>
                    <td style="color: #c92127;"><b>@total.ToString("#,##0").Replace(',', '.') VND</b></td>
                    <td class="xoa">
                        <form action="/ShoppingCart/RemoveCart/@item._product.IDsp" method="get">
                            @Html.ActionLink("Xóa", "RemoveCart", "ShoppingCart", new { id = item._product.IDsp }, new { @class = "xoa" })
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" style="text-align: right; font-size: x-large; color: white;">
                    Tổng tiền: <b style="color: #c92127;">@Model.Total_money().ToString("#,##0").Replace(',', '.') VND</b>
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="container-fluid">
        <form class="col-7 m-auto" action="/ShoppingCart/CheckOut" method="post" style="border-radius: 15px; padding: 20px;">
            <input type="hidden" name="CodeCustomer" value="@Session["IDkh"]" required />
            <table class="tb m-auto table border-0">
                <tr>
                    <td colspan="2"><h4 class="text-center text-white font-weight-bold">THÔNG TIN</h4></td>
                </tr>
                <tr>
                    <td>
                        Tên :
                    </td>
                    <td class="thongtinkh">
                        <input type="text" class="full-width" name="NameCustomer" placeholder="Điền họ và tên" value="@Session["TenKH"]" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        Số điện thoại :
                    </td>
                    <td class="thongtinkh">
                        <input style="width:100%" type="text" name="PhoneCustomer" placeholder="Điền số điện thoại" value="@Session["SoDT"]" required />
                    </td>
                </tr>
                <tr>
                    <td class="thongtinkh">
                        Địa chỉ giao hàng:
                    </td>
                    <td class="thongtinkh">
                        <input id="AddressDeliverry" style="width:100%" type="text" name="AddressDeliverry" placeholder="Điền địa chỉ giao hàng" required autocomplete="off" />
                    </td>
                </tr>


                @if (Session["IDkh"] != null || Session["IDQly"] != null)
                {
                    <tr class="py-2">
                        <td></td>
                        <td style="float:inline-start">
                            <input type="submit" value="Thanh toán" class="btn btn-danger" />
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="py-2">
                        <td class="text-danger font-weight-bold ">Hãy đăng nhập trước</td>
                        <td>
                            <a style="width:120px" href="@Url.Action("LoginAccountCus", "LoginUser")" class="btn btn-danger ">Đăng nhập</a>
                        </td>
                    </tr>
                }
            </table>
        </form>
    </div>
}



