@model BanSach.Models.DanhMuc_TheLoai

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DanhMuc_TheLoai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc.TenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheLoai.TenTheLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheLoai.TenTheLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
