@model IEnumerable<BanSach.Models.DanhMuc_TheLoai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="text-center fw-semibold mt-2 mb-2 ">Danh mục tổng</h4>

<p>
    @Html.ActionLink("Thêm", "Create",null,new{ @class = "btn btn-dark" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheLoai.TenTheLoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/assets/images/banners/@item.HinhAnh" width="100" height="100" class="rounded-1" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhMuc.TenDanhMuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheLoai.TenTheLoai)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-warning btn-sm rounded-sm mx-1" title="Sửa">
                <i class="fas fa-edit text-white"></i>
            </a>
            <a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-danger btn-sm rounded-sm delete-link mx-1" title="Xoá">
                <i class="fas fa-trash-alt text-white"></i>
            </a>
        </td>
    </tr>
}

</table>
