@model BanSach.Models.KhachHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .card-rounded {
        border-radius: 10px; /* Bo góc nhẹ cho thẻ card */
    }

    .btn-rounded {
        border-radius: 5px; /* Bo góc nhẹ cho nút */
    }
</style>

<div class="container mt-5">
    <div class="card shadow-lg border-0 card-rounded">
        <div class="card-body">
            <h2 class="text-center text-danger">Bạn có chắc là muốn xoá khách hàng này?</h2>
            <hr />
            <dl class="row">

                <dt class="col-sm-3"><b>Tên</b></dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TenKH)</dd>

                <dt class="col-sm-3"><b>Số điện thoại</b></dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.SoDT)</dd>

                <dt class="col-sm-3"><b>Email</b></dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                <dt class="col-sm-3"><b>Tài khoản</b></dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TKhoan)</dd>

                <dt class="col-sm-3"><b>Mật khẩu</b></dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.MKhau)</dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="text-center mt-4">
                    <input type="submit" value="Xoá" class="btn btn-danger btn-rounded px-4" />
                    @Html.ActionLink("Quay về danh sách khách hàng", "Index", null, new { @class = "btn btn-secondary btn-rounded ms-2" })
                </div>
            }
        </div>
    </div>
</div>
