@model BanSach.Models.Admin

@{
    ViewBag.Title = "Thêm nhân sự";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    body {
        color: #555;
        background: #f3f3f3;
        font-family: '', sans-serif;
    }

    .form-control {
        border-color: #ddd;
        min-height: 41px;
        box-shadow: none !important;
        border-radius: 8px;
    }

        .form-control:focus {
            border: 2px solid #5cd3b4;
            outline: none;
        }

    .form-horizontal h2 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .form-horizontal .form-group {
        margin-bottom: 15px;
    }

    .form-horizontal label {
        font-weight: 600;
        font-size: 14px;
        color: #333;
    }

    .form-horizontal .btn:hover, .form-horizontal .btn:focus {
        background-color: #41cba9;
        border-color: #41cba9;
    }

    .form-horizontal a {
        color: #5cd3b4;
        text-decoration: underline;
    }

        .form-horizontal a:hover {
            text-decoration: none;
        }

    .control-label {
        color: #333;
    }

    #dangky input[type="submit"] {
        background-color: #5cd3b4;
        border: none;
        border-radius: 8px;
        color: #fff;
        padding: 10px 20px;
    }

    #dangky {
        text-align: center;
    }
</style>



@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h2> Thêm quản lí</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        <div class="control-label col-md-2">Họ tên </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> Email </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> Địa chỉ</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> Số điện thoại </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SoDT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SoDT, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> Vai trò </div>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.VaiTro, new SelectList(new[]
            {
                new { Value = "Nhân viên", Text = "Nhân viên" },
                new { Value = "Admin", Text = "Admin" }
            }, "Value", "Text"), "Chọn vai trò", new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.VaiTro, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="control-label col-md-2">  Tài khoản</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TKhoan, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TKhoan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> Mật khẩu </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.MKhau, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MKhau, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" id="dangky">
            <input type="submit" value="Thêm" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
