@model BanSach.Models.Admin

@{
    ViewBag.Title = "Cập nhật thông tin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-body p-4">
                <h2 class="text-center font-weight-bold mb-4">Thay đổi thông tin</h2>

                @if (Session["Error"] != null)
                {
                    <div class="alert alert-danger text-center">
                        @ViewBag.Error
                    </div>
                }

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                <div class="form-group row">
                    <label class="col-sm-2 col-form-label font-weight-bold">Họ tên</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label font-weight-bold">Email</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label font-weight-bold">Địa chỉ</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label font-weight-bold">Số điện thoại</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.SoDT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoDT, "", new { @class = "text-danger" })
                    </div>
                </div>

                @{
                    var roles = new List<SelectListItem>
            {
        new SelectListItem { Value = "Admin", Text = "Admin" },
        new SelectListItem { Value = "Nhân viên", Text = "Nhân viên" }
    };
                }

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label font-weight-bold">Vai trò</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.VaiTro, roles, "Chọn vai trò", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.VaiTro, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-2 col-form-label font-weight-bold">Tài khoản</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.TKhoan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TKhoan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label font-weight-bold">Mật khẩu mới</label>
                    <div class="col-sm-10">
                        <input type="password" id="MKhau" name="MKhau" class="form-control" />
                        @Html.ValidationMessageFor(model => model.MKhau, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label font-weight-bold">Nhập lại mật khẩu mới</label>
                    <div class="col-sm-10">
                        <input type="password" id="ConfirmPass" name="ConfirmPass" class="form-control" />
                        @if (ViewBag.Error != null)
                        {
                            <center><font color="red"><p>@ViewBag.Error</p></font></center>
                        }
                    </div>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Lưu" class="btn btn-success btn-lg rounded-sm" onclick="showSuccessModal(event)" />
                </div>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Lưu thông tin thành công!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function showSuccessModal(event) {
            // Ngăn ngừa việc gửi form ngay lập tức
            event.preventDefault();

            // Hiển thị modal
            $('#successModal').modal('show');

            // Đặt sự kiện cho nút "Đóng" để gửi form khi nhấn
            $('#successModal .btn-outline-success').off('click').on('click', function () {
                $('form').submit();
            });

            // Đảm bảo nút đóng hoạt động
            $('#successModal .close').off('click').on('click', function () {
                $('#successModal').modal('hide');
            });
        }
    </script>

}
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
