@model BanSach.Models.TacGia

@{
    ViewBag.Title = "Chỉnh sửa thông tin tác giả " + Model.IDtg; // Cập nhật tiêu đề
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center mt-4 font-weight-bold ">Chỉnh sửa Tác Giả</h2> <!-- Tiêu đề chính -->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container mt-4">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDtg)

        <div class="row">
            <!-- Cột trái -->
            <div class="col-md-6">
                <div class="form-group row mb-4">
                    <label class="font-weight-bold col-md-4">Tên Tác Giả</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.TenTG, new { htmlAttributes = new { @class = "form-control rounded" } }) <!-- Bo góc -->
                        @Html.ValidationMessageFor(model => model.TenTG, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mb-4">
                    <label class="font-weight-bold col-md-4">Ngày sinh</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control rounded" } }) <!-- Bo góc -->
                        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <!-- Cột phải -->
            <div class="col-md-6">
                <div class="form-group row mb-4">
                    <label class="font-weight-bold col-md-4">Quốc gia</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.QuocGia, (IEnumerable<SelectListItem>)ViewBag.QuocGia, "Chọn quốc gia", new { @class = "form-control rounded" }) <!-- Bo góc -->
                        @Html.ValidationMessageFor(model => model.QuocGia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mb-4">
                    <label class="font-weight-bold col-md-4">Tiểu sử</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.TieuSu, new { htmlAttributes = new { @class = "form-control rounded" } }) <!-- Bo góc -->
                        @Html.ValidationMessageFor(model => model.TieuSu, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <!-- Nút lưu và trở về danh sách -->
        <div class="form-group text-center mt-4">
            <input type="submit" value="Lưu" class="btn btn-success rounded px-4 me-2" /> <!-- Bo góc cho nút -->
            @Html.ActionLink("Trở về danh sách", "Index", null, new { @class = "btn btn-secondary rounded px-4" }) <!-- Bo góc cho nút -->
        </div>
    </div>
}
